@model eFluo.Models.Ticket

@{
    ViewData["Title"] = "Create";
}



<div class="container">





    <div class="row mb-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <h5>Create New Ticket</h5>
                    <br />
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" ></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProjectId" class="control-label"></label>
                            <select asp-for="ProjectId" required class="form-control" asp-items="ViewBag.ProjectId">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketTypeId" class="control-label"></label>
                            <select asp-for="TicketTypeId" required class="form-control" asp-items="ViewBag.TicketTypeId">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketPriorityId" class="control-label"></label>
                            <select asp-for="TicketPriorityId" required class="form-control" asp-items="ViewBag.TicketPriorityId">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="AllTickets" class="btn btn-outline-light">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    
    

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
