@using eFluo.Services.Interfaces
@using eFluo.Models.ViewModels

@inject UserManager<PSUser> UserManager
@inject IPSRolesService RoleService
@inject IPSFileService FileService


@* <link rel="stylesheet" type="text/css" href="/plugins/dropify/dropify.min.css">
<link href="/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />
 *@

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }


    PSUser? user = await UserManager.GetUserAsync(User);
    bool isSignedIn = user is not null ? true : false;
}
 


<div>
   
    <div class="row">

        <div class="col">
            <partial name="_ManageNav" />
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->


    @RenderSection("Scripts", required: false)
}
