@model eFluo.Models.ViewModels.AddProjectWithPMViewModel
@using eFluo.Models.Enums


@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h1>Create New Project</h1>

    <hr />
    <div class="row mb-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">

                            <div class="form-group col">
                                <label asp-for="Project.Name" class="control-label"></label>
                                <input asp-for="Project.Name" class="form-control" />
                                <span asp-validation-for="Project.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-6">
                                <label asp-for="Project.StartDate" class="control-label"></label>
                                <input asp-for="Project.StartDate" class="form-control" />
                                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="Project.EndDate" class="control-label"></label>
                                <input asp-for="Project.EndDate" class="form-control" />
                                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row ">

                            @if (User.IsInRole(Roles.Admin.ToString()))
                            {
                                    @*Fix up PM SelectList*@
                                <div class="form-group col-6">
                                    <label class="control-label">Project Manager</label>
                                    <select asp-for="PMId" class="form-control" required asp-items="@Model.PMList">
                                        <option>Choose one</option>
                                    </select>
                                </div>
                            }
                            <div class=" col-6">
                                <label class="control-label">Choose a priority</label>
                                <select asp-for="Project.ProjectPriorityId" class="form-control" required asp-items="@Model.PriorityList">
                                    <option>Choose one</option>
                                </select>
                            </div>
                        </div>
                        @*Set up image capture*@
                        <div class="row>">

                            <div class="form-group">
                                

                                    <label >Project Image</label>
                                    <input asp-for="Project.ImageFormFile"  type="file" accept=".png, .jpg, .jpeg, .gif"
                                           onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                                    <span asp-validation-for="Project.ImageFormFile" class="text-danger"></span>
                                

                                    <label>Image Preview</label>
                                    @if (Model.Project?.ImageFileData != null)
                                    {
                                    <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:100px" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />
                                    }
                                    else
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:100px" src="  " />

                                    }
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.Description" class="control-label"></label>
                            <textarea rows="5" maxlength="300" id="summernote" asp-for="Project.Description" class="form-control"></textarea>
                            <span asp-validation-for="Project.Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="AllProjects" class="btn btn-outline-dark">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="//plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="plugins/apex/apexcharts.min.js"></script>
    <script src="assets/js/dashboard/dash_1.js"></script>
    <script src="/assets/js/widgets/modules-widgets.js"></script>
    <script src="/plugins/table/datatable/datatables.js"></script>

    <script src="plugins/highlight/highlight.pack.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
