@model eFluo.Models.ViewModels.AddProjectWithPMViewModel
@using eFluo.Models.Enums

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <h1>Edit Project</h1>

    <hr />
    <div class="row mb-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Project.Id" />
                        <input type="hidden" asp-for="Project.CompanyId" />
                        <input type="hidden" asp-for="Project.ImageFileName" />
                        <input type="hidden" asp-for="Project.ImageFileData" />
                        <input type="hidden" asp-for="Project.ImageContentType" />

                        <div class="row">

                            <div class="form-group col">
                                <label asp-for="Project.Name" class="control-label"></label>
                                <input asp-for="Project.Name" class="form-control" />
                                <span asp-validation-for="Project.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">


                            <div class="form-group col-3">
                                <label asp-for="Project.StartDate" class="control-label"></label>
                                <input asp-for="Project.StartDate" class="form-control" />
                                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="Project.EndDate" class="control-label"></label>
                                <input asp-for="Project.EndDate" class="form-control" />
                                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row">

                            <div class="form-group col-3">
                                <label asp-for="Project.ProjectPriorityId" class="control-label"></label>
                                <select asp-for="Project.ProjectPriorityId" class="form-control" asp-items="@Model.PriorityList"></select>
                                <span asp-validation-for="Project.ProjectPriorityId" class="text-danger"></span>
                            </div>
                            @if (User.IsInRole(Roles.Admin.ToString()))
                            {
                                <div class="form-group col-3">
                                    <label class="control-label">Project Manager</label>
                                    <select asp-for="PMId" class="form-control" required asp-items="@Model.PMList">
                                        <option></option>
                                    </select>
                                </div>
                            }
                        </div>
                        <div class="row">

                            <div class="form-group">

                                <label>Project Image</label>
                                <input asp-for="Project.ImageFormFile"  type="file" accept=".png, .jpg, .jpeg, .gif"
                                       onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                                <span asp-validation-for="Project.ImageFormFile" class="text-danger"></span>

                                <label>Image Preview</label>
                                @if (Model.Project?.ImageFileData != null)
                                {
                                    <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />
                                }
                                else
                                {
                                    <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="  " />

                                }

                            </div>

                        </div>
                        <div class="form-group">
                            <label asp-for="Project.Description" class="control-label"></label>
                            <textarea rows="10" maxlength="300" id="summernote" asp-for="Project.Description" class="form-control"></textarea>
                            <span asp-validation-for="Project.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="AllProjects" class="btn btn-outline-dark">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
    </div>

</div>

@section Scripts {

    <script src="plugins/highlight/highlight.pack.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
